<!-- templates/publier_article.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}T.T.G Network - Gestion École Publier des articles{% endblock %}
{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-5">
      <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
              <h1 class="display-3 text-white animated slideInDown">Publier les Articles</h1>
              
          </div>
      </div>
  </div>
</div>
<!-- Header End -->

  <hr>
  <h2>Publier un Article</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Publier</button>
  </form>
{% endblock %}
